h1 {
	color: rgb(0,200,100);
	border-color: purple;
	border-width: 5px;
	border-style: solid;
}

h4 {
	color: rgba(0,200,100,0.3);
	background-color: orange;
}

li {
	color: green;
}

body {
	background: url(https://cdn.pixabay.com/photo/2016/06/17/06/04/background-1462755_960_720.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}